<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - SQL Server 2019 Examples</title>

    <link rel="stylesheet" href="~/css/vis.min.css" />

    <script type="text/javascript" src="~/js/vis/vis.min.js"></script>
    <script type="text/javascript" src="~/js/ace/ace.js"></script>



</head>
<body>
    @RenderBody()
    
</body>
</html>
